$primary-main: #2eace0;
$primary-light: #36c6ff;
$primary-dark: #207799;

$secondary-main: #6ac259;
$secondary-light: #85f26f;
$secondary-dark: #46803b;

$error-main: #ff605d;
$error-light: #ff8687;
$error-dark: #cc4e4b;

$warning-main: #ffab4e;
$warning-light: #ffc85d;
$warning-dark: #ff992f;

$info-main: #2eace0;
$info-light: #36c6ff;
$info-dark: #207799;

$success-main: #6ac259;
$success-light: #85f26f;
$success-dark: #46803b;

$grey-main: #777777;
$grey-light: #bbbbbb;
$grey-666: #555555;
$grey-555: #555555;
$grey-444: #444444;
$grey-333: #333333;

$white: #ffffff;
$black: #000000;
